.signup-page {
  width: 100%;
  padding: 80px 0;
}

.signup-container {
  width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;
}

.signup-left img {
  width: 550px;
  max-width: 100%;
}

.signup-right {
  width: 400px;
}

.signup-right h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.sub-text {
  color: gray;
  margin-bottom: 20px;
}

.phone-input {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
}

.country-code {
  padding: 20px;
  background: #ffffff;
  border-right: 1px solid #ccc;
  font-size: 20px;
}


.phone-input input {
  flex: 1;
  border: none;
  padding: 15px;
  outline: none;
}

.otp-btn {
  width: 50%;
  margin-top: 15px;
  padding: 15px;
  background-color: #387ed1;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 100px;
}

.otp-btn:hover{
    background-color: black;
}

.terms {
  margin-top: 10px;
  font-size: 15px;
  color: gray;
}


.otp-input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
}

.otp-input:focus {
  border-color: #387ed1;
  box-shadow: 0 0 4px rgba(56, 126, 209, 0.4);
}

.otp-btn {
  width: 100%;
  padding: 12px;
  background-color: #387ed1;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}



.get-otp-btn {
  width: 50%;
  padding: 12px;
  background-color: #387ed1;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.get-otp-btn:hover {
   background-color: #000000;
}

.spinner {
  width: 18px;
  height: 18px;
  border: 3px solid #fff;
  border-top: 3px solid transparent;
  border-radius: 50%;
  display: inline-block;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}